.container {
    background-color: inherit;
    padding: 30px;
    width: 60%;
    margin: 0 auto;
}


.noQuestions {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.noQuestions p:first-of-type {
    margin-top: 20px;
    margin-bottom: 10px;
    color: white;
}

.noQuestions p:last-of-type {
    color: var(--gray)
}