.wrapper {
display: flex;
    align-items: center;
    justify-content: center;
   border: 1px solid #ddd;
   border-radius: 50%;
   width: 35px;
   height: 35px;
   padding: 5px;
}

.wrapper:hover {
    cursor: pointer;
}

.iconImage {
    width: 20px;
    height: 20px;
}