.container {
    padding: 60px;
    text-align: center;
    color: var(--gray-dark);
    font-family: var(--primary-font);
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;

}

.container h4 {
    margin-bottom: 25px;
}

.result {
    margin-bottom: 25px;
}

.result span {
    font-weight: 700;
}

.buttons {
    display:  flex;
    gap: 10px;
}

.buttons button {
    flex: 1;
    border: none;
    background-color: var(--primary-color);
    color: white;
    font-size: 1rem;
    padding: 10px 15px;
    border-radius: 4px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
    cursor: pointer;
}