.container {
    height: 100vh;
    background-color: var(--primary-bg);
    padding: 30px 0;
}

.banner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: var(--primary-font);
    color: white;
}

.banner h1 {
    margin-bottom: 20px;
}

.mainSection {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px;
    margin-top: 30px;
}
