.challengeItem {
    color: var(--gray);
   
    display: flex;
    align-items: center;
    border-bottom: 1px solid var(--gray);
    padding: 0.6rem 2rem;
    cursor: pointer;
}

.challengeItem:last-child {
    border-bottom: none;
}

.challengeItem:hover {
    box-shadow: inset 0 0 100px 100px rgba(255, 255, 255, 0.1);
}
.challengeItem h4{
    color: rgba(255, 255, 255, 0.805);
}



.iconContainer {
    display: flex;
    align-items: center;

}

.tagContainer {
    display: flex;
    align-items: center;
    margin: 0 30px;
}

.challengePrompt {
    margin: 0.4rem 0;
    font-size: 0.9rem;
}

.challengeDifficult {
    font-size: 0.8rem;
    margin-left: 5px;
    color: green;
}