.loginIcon {
    display: flex;
    align-items: center;
    color: var(--gray);
    padding: 10px 20px;
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
}

.loginIcon:not(:last-child) {
    margin-bottom: 15px;
}

.loginIcon p {
    text-align: center;
    flex: 1;
}