.header {
    display: flex;
    background-color: var(--primary-color);
    padding: 0.5rem 1rem;
    justify-content: space-between;
}

.tabContainer {
    display: flex;
}

.tab {
    font-family: var(--primary-font);
    font-size: 0.9rem;
    color: white;
    font-weight: 700;
    padding: 4px 8px;
    border-radius: 3px;
    transition: background-color 0.2s ease;
}

.tab:hover {
    cursor: pointer;
}

.tabActive {
    background-color: var(--primary-color-dark)
}