.formWrapper button[type="submit"] {
    background-color: var(--primary-color);
    color: var(--white);
    border: unset;
    font-size: 1rem;
    font-weight: 600;
    padding: 6px 10px;
    border-radius: 3px;
}

.formWrapper button[type="submit"]:hover {
    cursor: pointer;
}

.formHeader {
    font-family: var(--primary-font);
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
}

