@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;500&display=swap');
:root {
  --primary-font: Inter;
  --heading-font: 'Ubuntu', sans-serif;

  --black: #000;
  --white: #fff;
  --gray: #858484;
  --primary-color: #3273a8;
  --primary-color-dark : #113d62;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
  cursor: pointer;
}
.split {
  display: flex;
  flex-direction: row;
}

.gutter {
  background-color: #eee;
  background-repeat: no-repeat;
  background-position: 50%;
}

.gutter.gutter-horizontal {
  cursor: col-resize;
}

.gutter.gutter-vertical {
  cursor: row-resize;
}

.markdown > * {
  all: revert;
  line-height: 1.5rem;
  font-size: 0.9rem;
}

.markdown li {
  list-style: unset;
}

.markdown code {
  background-color: var(--primary-color);
  padding: 0 3px;
  border-radius: 2px;
}
