@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;500&display=swap');
:root {
  --primary-font: Inter;
  --heading-font: 'Ubuntu', sans-serif;

  --black: #000;
  --white: #fff;
  --gray: #858484;
  --primary-color: #3273a8;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: var(--primary-font);
  color: var(--black)
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}