.container {
    display: grid;
    place-items: center;
    height: 100%;
}

.formWrapper {
    font-family: var(--primary-font);
    width: 500px;
    padding: 30px;
    border-radius: 10px;
    box-shadow: rgba(17, 17, 26, 0.1) 0px 1px 0px, rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 48px;
}

.formWrapper hr {
    border: 0;
    border-top: 1px solid #888;
    display: block;
    margin: 2rem auto 1rem;
    overflow: visible;
}

.formWrapper hr::before {
    color: #888;
    background: white;
    content: "or";
    padding: 0 0.4rem;
    position: relative;
    top: -0.7rem;
    left: 47%;
}

