.wrapper {
    display: flex;
    padding: 1rem 1.2rem;
    align-items: center;
    justify-content: space-between;
    font-family: var(--primary-font);
    background-color: var(--primary-bg);
    border-bottom: 1px solid var(--gray);
    position: fixed;
    width: 100%;
    z-index: 9999;
}

.logoText {
    font-size: 1.8rem;
    font-weight: 700;
    font-family: var(--heading-font);
    color: white;
}
.logoTextMain {
    color: var(--primary-color);
    font-family: var(--heading-font);
}

.linksWrapper {
    flex: 1;
    margin-left: 50px;
}

.link {
    color: white;
    position: relative;
    font-weight: 500;
}



.link::after {
    content: '';
    position: absolute;
    width: 0px;
    height: 2px;
    left: 50%;
    bottom: -5px;
    background-color: var(--primary-color);
    transition: all ease-in-out .2s;
}

.link:hover::after {
    width: 100%;
    left: 0;
}

.link:not(:first-child) {
    margin-left: 35px;
}

.link:hover {
    color: var(--primary-color);
}

