.wrapper {
    display: flex;
    padding: 1rem 2rem;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #ddd;
    font-family: var(--primary-font);
}

.logoText {
    font-size: 2rem;
    font-weight: 700;
    font-family: var(--heading-font);
    color: var(--gray);

}
.logoTextMain {
    color: var(--primary-color);
    font-family: var(--heading-font);
}

.linksWrapper {
    flex: 1;
    margin-left: 50px;
}

.link {
    color: var(--gray-dark);

}

.link:not(:first-child) {
    margin-left: 35px;
}

.link:hover {
    color: var(--primary-color);
}

