.container {
    display: flex;
    font-family: var(--primary-font);
}

.quizListContainer {
    height: 650px;
    overflow: auto;
    padding: 20px;
    margin-right: 20px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.quizListContainer p {
    font-size: 1.2rem;
    font-weight: 700;
    margin-bottom: 20px;
}

.questionItem {
    font-weight: 500;
    font-size: 0.9rem;
    color: var(--gray-dark);
}

.questionItem:hover{
    color: var(--black)
}

.questionItem:not(:last-child) {
    margin-bottom: 10px;
}

.selectedQuestion {
    color: var(--primary-color)
}

.progressBar {
    display: flex;
    flex-direction: column;
    gap: 10px;
    counter-reset: step;
}
.progressBar li {
    position: relative;
    display: flex;
    align-items: center;

}



.progressBar li::before {
    color: var(--white);
    text-align: center;
    line-height: 30px;
    content: counter(step);
    counter-increment: step;
    width: 30px;
    height: 30px;
    border-radius: 4px;
    background-color: var(--gray-dark);
    z-index: 999;
    margin-right: 10px;

}

.progressBar li.selectedQuestion::before, .progressBar li.selectedQuestion::after {
    background-color: var(--primary-color);
}

.progressBar li::after {
    content: '';
    position: absolute;
    width: 5px;
    height: 50px;
    left: 10%;
    top: 50%;
    background-color: var(--gray-dark);
}

.progressBar li:last-child::after {
    height: 0;
}


.questionContentContainer {
     display: flex;
     justify-content: center;
     flex-direction: column;
     box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.questionContent {
    width: 700px;
    flex: 1;
    display: flex;
    flex-direction: column;
}

.questionPrompt {
    padding: 15px;
    box-shadow: 0px 15px 10px -15px #111;    
}

.questionPrompt h3 {
    color: var(--gray-dark);
}

.choicesContainer {
    background-color: #F7F7F7;
    flex: 1;
}

.buttonContainer {
   padding: 10px;
}

.buttonContainer button {
    background-color: var(--primary-color);
    border: none;
    min-width: 80px;
    border-radius: 5px;
    color: var(--white);
    display: flex;
    align-items: center;
    justify-content: center
}


.buttonContainer button:hover {
    cursor: pointer;
}

.buttonContainer div {
    display: flex;
    justify-content: space-between;
}

