.container {
    overflow: auto;
}
.promptContainer {
    color: var(--white);
    font-family: var(--primary-font);
    padding: 0.5rem;
}

.name {
    margin-bottom: 0.8rem;
}

.category {
    display: flex;
    margin-bottom: 1rem;
}

.category p {
    margin-left: 5px;
}

.note {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--primary-color);
    font-size: 14px;
    padding: 10px 10px;
    border-radius: 5px;
    margin-bottom: 1rem;
}

.note .icon {
    width: 20px;
    height: 20px;
    margin-right: 5px;
}