.wrapper {
    display: flex;
    padding: 1rem 2rem;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #ddd;
}

.logoText {
    font-size: 2rem;
    font-weight: 700;
    font-family: var(--heading-font);
    color: var(--gray);

}
.logoTextMain {
    color: var(--primary-color);
    font-family: var(--heading-font);
}



.userWrapper {
display: flex;
    align-items: center;
justify-content: center;
   border: 1px solid #ddd;
   border-radius: 50%;
   width: 35px;
   height: 35px;
   padding: 5px;
   margin-left: 15px;
}

.userWrapper:hover {
    cursor: pointer;
}

.userIcon {
    width: 20px;
    height: 20px;
}