.tooltip {
    position: relative;
    display: inline-block;
    cursor: pointer;
}

.tooltipText {
  visibility: hidden;
  font-family:  var(--primary-font);
  font-size: 0.8rem;
  min-width: 130px;
  background-color: #333;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px;
  position: absolute;
  z-index: 9999;
  left: 50%;
  bottom: 100%;
  transform: translateX(-50%);
  opacity: 0;
  transition: opacity 0.2s;
}

.tooltip:hover .tooltipText {
    visibility: visible;
    opacity: 1;
  }